<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GorillaDocs.Word.MacroView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GorillaDocs.Word.MacroView.Properties.Settings>
            <setting name="DMFWordAddin" serializeAs="String">
                <value>MacroView.DMF.Word</value>
            </setting>
            <setting name="UDNWordAddin" serializeAs="String">
                <value>MacroView.UDN.Word</value>
            </setting>
        </GorillaDocs.Word.MacroView.Properties.Settings>
    </applicationSettings>
</configuration>